<!-- friends add -->

<!-- friends list -->
<ion-list class="mypage-friends">
  <ion-item-sliding *ngFor="let friend of friendsData; let ind = index;">
    <!-- item -->
    <ion-item>
      <ion-avatar item-start>
        <ion-img src="{{friend.photo}}" alt="{{friend.name}} photo"></ion-img>
      </ion-avatar>
      <h2><a href="#">{{friend.name}}</a></h2>
    </ion-item>
    <!-- button -->
    <ion-item-options side="right">
      <button ion-button color="primary">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
