<!-- Generated template for the LayHeaderComponent component -->
<ion-grid no-padding>
  <ion-row>
    <!-- button back -->
    <ion-col>
      <button type="button" class="btn btn-back">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-8>

    </ion-col>
    <!-- button alarm -->
    <ion-col>
      <button type="button" class="btn btn-alarm">
        <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

