//
// Mypage
//

.list-friend {
  margin: 0;

  .item:not(.item-divider) {
    .label {
      color: theme-color('primary');
    }
  }

  .item-wrapper {
    
    &:last-child {
      .item-block {
        border-bottom: 0;
      }
    }

    .item-block {
      border: 0 !important;
  
      &.item-md {
        margin-bottom: 0;
      }
  
      &:last-child {
        border-bottom: 0;  
      }
  
      &:first-child {
        border-top: 0;
      }
  
      .item-inner {
        border-bottom: 0;
  
        a {
          text-decoration: none;
        }
      }
    } 
  }

  ion-item-options {
    border-bottom:  0;
    
    .button {
      width: 50px;
    }

    .button-inner {
      .icon {
        padding: 0 !important;
        font-size: $font-size-base * 1.5;
      }
    }
  }
}
