//
// Mypage
//

.friends {
  margin: 0;

  .item-block {
    border-bottom: 1px solid $border-color;

    .item-inner {
      border-bottom: 0;

      a {
        text-decoration: none;
      }
    }
  }

  ion-item-options {
    .button {
      font-size: $font-size-lg;
      width: 50px;
    }
  }

  &.list-ios {
    .item-wrapper {
      &:last-child {
        border-color: $border-color;
      }
    }
  }
}
