//
// Mypage
//

.searchbar-friend {
  &.searchbar-ios  {
    height: 45px;
    border-top: 0;
  }

  &.searchbar-md {
    height: 55px;

    .searchbar-input {
      height: 39px;
    }
  }
}

.list-friend {
  margin: 0;
}

.btn-manage {
  .fab-list-active {
    right: 0;
    min-width: 100px;
  }

  .btn {
    width: 100%;
    display: block;
    font-size: $font-size-base;
    margin: $font-size-base / 2 0;
    text-align: right;
  }
}
