//
// Member List
//

.searchbar-friend {
  &.searchbar-ios  {
    height: 45px;
    border-top: 0;
  }

  &.searchbar-md {
    height: 55px;

    .searchbar-input {
      height: 39px;
    }
  }
}

.list-friend-filter {
  &.list-ios {
    margin-bottom: 0;
    height: calc(100% - 45px);
    overflow-y: scroll;
  }

  &.list-md {
    height: calc(100% - 55px);
    overflow-y: scroll;
  }

  .item-block {
    &,
    &:first-child,
    &:last-child {
      border: 0;
    }

    .item-inner {
      border: 0;
    }
  }
}
