//
// Mypage Activity
//

.mypage-activity {
  margin: 0;
  padding: $font-size-base 0;
  list-style: none;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 34px;
    width: 1px;
    height: 100%;
    background-color: $border-color;
    z-index: -1;
  }

  li {
    position: relative;
    font-size: $font-size-base;
    padding-left: 50px;
    margin-top: $font-size-base;

    &:first-child {
      margin-top: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 35px;
      width: 6px;
      height: 6px;
      background-color: theme-color('primary');
      border-radius: 50%;
      transform: translateX(-50%);
    }
  }

  .activity-date {
    color: gray('600');
    font-size: $font-size-sm;
  }

  .activity-message {
    margin: 0;
    padding-top: 5px;
    font-size: $font-size-base;

    a {
      text-decoration: none;
    }
  }
}
